/* div#wpadminbar.mobile {
  top: 0px!important;
  margin-bottom: 46px;
} */
.spacer {
  flex: 1 1 auto;
}

.table_parent {
  display: table; }

.table_child {
  display: table-cell;
  vertical-align: middle; }

/* Colors */
.bg-tile1{background-color: #384da1;}
.bg-tile2{background-color: #9f4599;}
.bg-tile3{background-color: #bb4e26;}
.bg-tile4{background-color: #b9a530;}
.bg-tile5{background-color: #3ab449;}
.bg-tile6{background-color: #2f2c3b;}



.dashed{border: 1px dashed white;}
.dashed-black{border: 1px dashed black;}
.dashed-bold{border: 5px dashed white;}


/* Header */
@media(max-width: 992px){
  .primary_menu{display:none;}
}
.menu_icon{margin-right: 3px;}
.tip-top-nav{
  height: 40px;
  background: rgba(0, 40, 60, 0.5);
  margin: 0; padding: 0; list-style-type: none;
  }
.tip-top-nav div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}
.tip-top-nav ul{align-self: center; margin: 0;}
.tip-top-nav ul li{
  align-self: center;
  display: inline;
  margin-left: 20px;
}
.tip-top-nav ul li a{
  color: white;
}

.menu-top-menu-container{
  padding-right: 15px;
}

@media (max-width: 992px){
  .tip-top-nav{height: 56px;}
}

@media (max-width: 550px){
  .tip-top-nav{
    height: 67px;
  }
}


.mobile_svg_logo{
  width: 60px;
  display:inline;
}
.mobile_svg_logo svg{
  display:none;
  margin-top: 3px;
  height: 60px;
}

@media (max-width: 550px){
  .mobile_svg_logo svg{
    display: inline;
  }
}



@media(max-width: 550px){
  .rpl-brand{
    display:none;
  }
}

.svg_logo{display:flex; justify-content: center;}

.logo_text{
  flex: 0 1 auto;
  transition: color 0.5s ease;
  font-family: 'Times New Roman';
  font-size: 32px;
  line-height: 32px;
  align-self: center;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}
.logo_text:hover{
  color: #cc6600;
}
.rpl-brand a{
  display: flex;
  flex-direction: row;
}
#header_quote{font-size: 25px;}

.nav-container{
  margin-top: 30px;
}

/* header large breakpoint */
@media (max-width: 1200px){
  .svg_logo svg{width: 75px;}
  .logo_text{
    font-size: 22px;
    line-height: 23px;
  }
}
/* header midsized breakpoint */
@media (max-width: 992px){
  .svg_logo svg{width: 90px;}
  .logo_text{
    font-size: 27px;
    line-height: 26px;
  }
  .nav-container{
    margin-top: 10px;
  }
  .tip-top-nav ul{
    display:none;
  }
}/*media query*/




/* Homepage */
.changing-image{
  background-position: center 33%;
  background-size: cover;
  position: relative;
  min-height: 75vh;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.changing-image-cover{
  background: rgba(0, 40, 60, 0.85);
  height: 75vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width: 550px){
  .changing-image{
    min-height: 95vh;
  }
  .changing-image-cover{
    min-height: 300px;
    height: 95vh;
  }
}


/* Search Bar */
.search-float{margin-top: 20vh;}
.searchbar_form{margin-top: 20px;}

@media(max-width: 550px){
  .search-float{margin-top: 0;}
  .searchbar_form{margin-top: 7vh;}
}


.search-float .fa-quote-left,
.search-float .fa-quote-right{
  position: relative;
  color: white;
  position: absolute;
  font-size: 10px;}
#header_quote_left{margin-left: -13px;}
.searchbar-wrapper{
  font-size: 0;
  position: relative;}
#searchbar{
  padding: 20px;
  background-color: #006599;
  color: white;
  width: calc(100% - 80px);
  display: inline-block;
  margin: 0;
  border-radius: 0;
  vertical-align: top;
  border: none;
  font-size: 40px;
  height: 80px;}
#searchbutton{
  background-color: #006599;
  width: 80px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  font-size: 30px;
  height: 80px;}
#searchbutton:hover{
  background-color: #004b72;
  color: white;
}

@media(max-width: 992px){
  #searchbar{
    font-size: 30px;
    height: 60px;}
  #searchbutton{
    width: 80px;
    font-size: 30px;
    height: 60px;}
}

@media(max-width: 768px){

}
@media(max-width: 550px){
    #searchbar{
      font-size: 25px;
      width: calc(100% - 50px);
      height: 50px;
      padding-left: 10px;
    }
    #searchbutton{
      font-size: 17px;
      width: 50px;
      height: 50px;
    }
}


/* Featured Event */
@media(min-width: 1200px){
  .featuredevent_row{display:flex;}
  .featuredevent_image_div{
    flex-basis: auto;
    width: auto;
  }
  .featuredevent_text_div{flex: 1;}
}

@media(max-width: 992px){
  .featuredevent_image_div{
    text-align:center;
    padding-bottom: 15px;
  }
  .featuredevent_image_div div img{
    width: 100%;
  }
}


/* Tiles or Features */
section.features + div::before{
  display:table;
  content: " ";}

@media(max-width: 992px){
  section.features{
    padding-top: 0;
    padding-bottom: 0;
  }
}


/* New Releases */
.new-release-cover{
    background: rgba(0, 40, 60, 0.85);
}
.bookcover{
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
@media(max-width: 992px){
  section.category-filter{
    background-image: none!important;
    padding: 0 0;
  }
  .new-release-cover{
      background: rgba(0, 40, 60, 1);
  }
}

/* Footer */



/* Twitter */
.ctf-item{padding: 0!important; border-top: none!important;}
.ctf-item:nth-child(2){margin-top: 20px;}
.ctf-author-name{margin-left: 0!important; margin-top: 0!important;}
.ctf-tweet-actions i, .ctf-tweet-actions span{color: white!important;}


/* scroll to top */
div#scroll-to-top-button{
  display: none;
  z-index: 9999;
  background-color: #ff7236;
  height: 75px;
  width: 75px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-align: center;
}


div#scroll-to-top-button div{
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
}

@media(max-width:550px){
  div#scroll-to-top-button{
    height: 50px;
    width: 50px;
    right: 25px;
    bottom: 25px;
  }

  div#scroll-to-top-button div{
    font-size: 25px;
  }

}
