.dashed{border: 1px dashed white;}
.dashed-black{border: 1px dashed black;}
.dashed-bold{border: 5px dashed white;}
/* Header */
.tip-top-nav{
  height: 40px;
  background: rgba(0, 40, 60, 0.5);
  margin: 0; padding: 0; list-style-type: none;
  }
.tip-top-nav div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}
.tip-top-nav ul{align-self: center; margin: 0;}
.tip-top-nav ul li{
  align-self: center;
  display: inline;
  margin-left: 20px;
}
.rpl-brand{}
.rpl-brand a{
  display: flex;
  flex-direction: row;
}

#header_quote{font-size: 25px;}

.rpl-brand a div:hover{
  color: #cc6600;
}
.rpl-brand a div{
  transition: color 0.5s ease;
  font-family: 'Times New Roman';
  font-size: 32px;
  line-height: 32px;
  align-self: center;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}


/* Homepage */
.changing-image{
  background-position: center 33%;
  background-size: cover;
  position: relative;
  min-height: 75vh;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.changing-image-cover{
  background: rgba(0, 40, 60, 0.85);
  height: 75vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search Bar */
.search-float{margin-top: 20vh;}
.search-float i{
  position: relative;
  color: white;
  position: absolute;}
#header_quote_left{margin-left: -18px;}
.searchbar-wrapper{
  font-size: 0;
  position: relative;}
#searchbar{
  padding: 20px;
  background-color: #006599;
  color: white;
  width: calc(100% - 80px);
  display: inline-block;
  margin: 0;
  border-radius: 0;
  vertical-align: top;
  border: none;
  font-size: 40px;
  height: 80px!important;}
#searchbutton{
  background-color: #006599;
  width: 80px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  font-size: 30px;
  height: 80px!important;}
#searchbutton:hover{
  background-color: #004b72;
  color: white;
}


/* Tiles or Features */
section.features + div::before{
  display:table;
  content: " ";}



/* New Releases */
.new-release-cover{
    background: rgba(0, 40, 60, 0.85);
}
.bookcover{
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
