/* Footer */



/* Twitter */
.ctf-item{padding: 0!important; border-top: none!important;}
.ctf-item:nth-child(2){margin-top: 20px;}
.ctf-author-name{margin-left: 0!important; margin-top: 0!important;}
.ctf-tweet-actions i, .ctf-tweet-actions span{color: white!important;}


/* scroll to top */
div#scroll-to-top-button{
  display: none;
  z-index: 9999;
  background-color: #ff7236;
  height: 75px;
  width: 75px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-align: center;
}


div#scroll-to-top-button div{
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
}

@media(max-width:550px){
  div#scroll-to-top-button{
    height: 50px;
    width: 50px;
    right: 25px;
    bottom: 25px;
  }

  div#scroll-to-top-button div{
    font-size: 25px;
  }

}
