.spacer {
  flex: 1 1 auto;
}

.table_parent {
  display: table; }

.table_child {
  display: table-cell;
  vertical-align: middle; }


.dashed{border: 1px dashed white;}
.dashed-black{border: 1px dashed black;}
.dashed-bold{border: 5px dashed white;}



/* Homepage */
.changing-image{
  background-position: center 33%;
  background-size: cover;
  position: relative;
  min-height: 75vh;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.changing-image-cover{
  background: rgba(0, 40, 60, 0.85);
  height: 75vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width: 550px){
  .changing-image{
    min-height: 95vh;
  }
  .changing-image-cover{
    min-height: 300px;
    height: 95vh;
  }
}


/* Search Bar */
.search-float{margin-top: 20vh;}
.searchbar_form{margin-top: 20px;}

@media(max-width: 550px){
  .search-float{margin-top: 0;}
  .searchbar_form{margin-top: 7vh;}
}


.search-float .fa-quote-left,
.search-float .fa-quote-right{
  position: relative;
  color: white;
  position: absolute;
  font-size: 10px;}
#header_quote_left{margin-left: -13px;}
.searchbar-wrapper{
  font-size: 0;
  position: relative;}
#searchbar{
  padding: 20px;
  background-color: #006599;
  color: white;
  width: calc(100% - 80px);
  display: inline-block;
  margin: 0;
  border-radius: 0;
  vertical-align: top;
  border: none;
  font-size: 40px;
  height: 80px;}
#searchbutton{
  background-color: #006599;
  width: 80px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  font-size: 30px;
  height: 80px;}
#searchbutton:hover{
  background-color: #004b72;
  color: white;
}

@media(max-width: 992px){
  #searchbar{
    font-size: 30px;
    height: 60px;}
  #searchbutton{
    width: 80px;
    font-size: 30px;
    height: 60px;}
}

@media(max-width: 768px){

}
@media(max-width: 550px){
    #searchbar{
      font-size: 25px;
      width: calc(100% - 50px);
      height: 50px;
      padding-left: 10px;
    }
    #searchbutton{
      font-size: 17px;
      width: 50px;
      height: 50px;
    }
}


/* Featured Event */
@media(min-width: 1200px){
  .featuredevent_row{display:flex;}
  .featuredevent_image_div{
    flex-basis: auto;
    width: auto;
  }
  .featuredevent_text_div{flex: 1;}
}

@media(max-width: 992px){
  .featuredevent_image_div{
    text-align:center;
    padding-bottom: 15px;
  }
  .featuredevent_image_div div img{
    width: 100%;
  }
}


/* Tiles or Features */
section.features + div::before{
  display:table;
  content: " ";}

@media(max-width: 992px){
  section.features{
    padding-top: 0;
    padding-bottom: 0;
  }
}


/* New Releases */
.new-release-cover{
    background: rgba(0, 40, 60, 0.85);
}
.bookcover{
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
@media(max-width: 992px){
  section.category-filter{
    background-image: none!important;
    padding: 0 0;
  }
  .new-release-cover{
      background: rgba(0, 40, 60, 1);
  }
}
