/*SIDEBARS COMMON */
.rpl_sidebar{
    color: #003652;
}

div.rpl_sidebar a:hover,
div.rpl_sidebar a:focus,
div.rpl_sidebar a:visited,
div.rpl_sidebar a:active{
  color: #ff7236;
}

div.rpl_sidebar ul {
  list-style-type: none;
  margin-left: -38px;
}


div.rpl_sidebar h2{
  color: #003652;
  font-size: 20px;
}


@media(max-width: 1200px){
  div.rpl_sidebar h2{
    font-size: 20px;
  }
}
@media(max-width: 992px){
  div.rpl_sidebar h2{
    font-size: 18px;
  }
}
@media(max-width: 768px){
}


/*SHELF RESPECT SIDEBAR*/
div.blog-sidebar{
  width: 250px;
  padding-right: 15px;
  margin-top: 25px;
}
div.blog-sidebar-container{
  /* border:5px solid #003652; */
  background-color: #f4f4f4;
  width: 100%;
  padding: 20px 20px;
}

div.blog-sidebar h2{
  color: #003652;
  font-size: 20px;
}

@media(max-width: 1200px){
  div.blog-sidebar{
    width: 250px;
  }
}


@media(max-width: 992px){
  div.blog-sidebar{
    width: 200px;
  }
}

@media(max-width: 768px){
  div.blog-sidebar{
    width: 100%;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  div.blog-sidebar-container{
    padding: 25px 25px;
  }
}



/*Author Sidebar*/
div.author-sidebar ul {
  list-style-type: none;
  margin-left: -38px;
}
div.author-sidebar{
  text-align: justify;
}

div.author-sidebar h2{
  color: #003652;
  font-size: 20px;
}

div.author-sidebar section.widget{
  margin-top: 15px;
}
